html {
    height: 100%;
    font-family: 'Montserrat';

    display: grid;
    align-items: center;
    justify-items: center;

    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #333333;
}

body {
    background-color: var(--bg);
}

.container {
    background-color: var(--bg-panel);

    margin: 3em;
    padding: 3em;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    color: var(--color-headings);
}

spam {
    color: var(--color-text);
    grid-area: content;
    font-size: 1.2em;
    line-height: 1.8em;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 53px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
    margin-right: 7px;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--color-headings);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 42px;
}

img{
    padding: 1em;
}

.toggle{
    display: flex;
    justify-content: center;
}